---
layout: default
title: Fotos
---

<h1>Fotos</h1>
<hr>

<div id="lightbox">
  {% for event in site.image_feed %}
    <div class="well">
      <h3>{{event.name}} - {{event.year}}</h3>
      {% for pic in event.pics %}
        <a href="{{pic}}" title="{{event.name}}">
          <img src="{{site.baseurl}}/img/loading.gif" data-src="{{pic}}" alt="{{event.name}}">
        </a>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

