---
layout: default
title: Ranking
---

<h1>Ranking Estadual de 2014</h1>

<p>Última atualização: 16/04/2014</p>

<ul class="nav nav-tabs">
  <li class="active"><a href="#adulto" data-toggle="tab">Adulto</a></li>
  <li><a href="#senior" data-toggle="tab">Sênior</a></li>
  <li><a href="#veterano" data-toggle="tab">Veterano</a></li>
  <li><a href="#feminino" data-toggle="tab">Feminino</a></li>
  <li><a href="#menores" data-toggle="tab">Menores</a></li>
  <li><a href="#pne" data-toggle="tab">PNE</a></li>
</ul>

<div id="ranking-data" class="tab-content">
  <div id="adulto" class="tab-pane fade in active">
    <h2>Adulto</h2>
    <table class="table table-hover">
      <thead>
        <th>Colocação</th><th>Atleta</th><th>Clube</th><th>Pontos</th>
      </thead>
      <tbody>
        {% include site/adulto.html %}
      </tbody>
    </table>
  </div>
  <div id="senior" class="tab-pane fade">
    <h2>Sênior</h2>
    <table class="table table-hover">
      <thead>
        <th>Colocação</th><th>Atleta</th><th>Clube</th><th>Pontos</th>
      </thead>
      <tbody>
        {% include site/senior.html %}
      </tbody>
    </table>
  </div>
  <div id="veterano" class="tab-pane fade">
    <h2>Veterano</h2>
    <table class="table table-hover">
      <thead>
        <th>Colocação</th><th>Atleta</th><th>Clube</th><th>Pontos</th>
      </thead>
      <tbody>
        {% include site/veterano.html %}
      </tbody>
    </table>
  </div>
  <div id="feminino" class="tab-pane fade">
    <h2>Feminino</h2>
    <table class="table table-hover">
      <thead>
        <th>Colocação</th><th>Atleta</th><th>Clube</th><th>Pontos</th>
      </thead>
      <tbody>
        {% include site/feminino.html %}
      </tbody>
    </table>
  </div>
  <div id="menores" class="tab-pane fade">
    <h2>Menores</h2>
    <table class="table table-hover">
      <thead>
        <th>Colocação</th><th>Atleta</th><th>Clube</th><th>Pontos</th>
      </thead>
      <tbody>
        {% include site/menores.html %}
      </tbody>
    </table>
  </div>
  <div id="pne" class="tab-pane fade">
    <h2>PNE</h2>
    <table class="table table-hover">
      <thead>
        <th>Colocação</th><th>Atleta</th><th>Clube</th><th>Pontos</th>
      </thead>
      <tbody>
        {% include site/pne.html %}
      </tbody>
    </table>
  </div>
</div>
