<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container" >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/FMTM.png" id="nav-logo"></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{site.baseurl}}/noticias">Notícias</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pontuação<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li class="divider"></li>
          <li role="presentation" class="dropdown-header">Estadual</li>
            <li><a href="{{site.baseurl}}/ranking">Ranking</a></li>
            <li><a href="{{site.baseurl}}/rating">Rating</a></li>
            <li><a href="{{site.baseurl}}/unificado">Unificado</a></li>
            <li><a href="{{site.baseurl}}/absoluto">Absoluto</a></li>
            <li class="divider"></li>
            <li role="presentation" class="dropdown-header">Campeonato Mineiro</li>
            <li><a href="{{site.baseurl}}/cmtm-duplas">Duplas</a></li>
            <li><a href="{{site.baseurl}}/cmtm-equipes">Equipes</a></li>
          </ul>
        </li>
        <li><a href="{{site.baseurl}}/calendario">Calendário</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Institucional<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{site.baseurl}}/arquivo/regulamentogeraldecompeticoesfmtm.pdf" target="_blank">Regulamento Geral</a></li>
            <li><a href="{{site.baseurl}}/arquivo/estatutofmtm.pdf" target="_blank">Estatuto</a></li>
            <li><a href="{{site.baseurl}}/arquivo/normasdetransferencias.pdf" target="_blank">Normas de Transferências</a></li>
            <li><a href="{{site.baseurl}}/arquivo/regulamentogeraldearbitragem.pdf" target="_blank">Regulamento de Arbitragem</a></li>
            <li><a href="{{site.baseurl}}/arquivo/taxas2014.pdf" target="_blank">Taxas</a></li>
            <li class="divider"></li>
            <li role="presentation" class="dropdown-header">Notas Oficiais</li>
            <li><a href="{{site.baseurl}}/arquivo/notas-oficiais/2014.pdf" target="_blank">2014</a></li>
            <li><a href="{{site.baseurl}}/arquivo/notas-oficiais/2013.pdf" target="_blank">2013</a></li>
            <li><a href="{{site.baseurl}}/arquivo/notas-oficiais/2012.pdf" target="_blank">2012</a></li>
            <li><a href="{{site.baseurl}}/arquivo/notas-oficiais/2011.pdf" target="_blank">2011</a></li>
            <li><a href="{{site.baseurl}}/arquivo/notas-oficiais/2010.pdf" target="_blank">2010</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastro<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{site.baseurl}}/arquivo/ficha-de-inscricao-atleta.xls" target="_blank">Atletas</a></li>
          </ul>
        </li>
        <li><a href="http://fmtm-mg.blogspot.com.br/">Blog</a></li>
        <li><a href="{{site.baseurl}}/fotos">Fotos</a></li>
        <li><a href="{{site.baseurl}}/contato">Contato</a></li>

      </ul>
    </div>
  </div>
</nav>
