<script>
     $(function () {
        'use strict';

        $.ajax("http://api.flickr.com/services/rest/?method=flickr.people.getPublicPhotos&api_key=bebfb2fd8482f87e8ed61533347b082c&user_id=101918727%40N03&format=json&nojsoncallback=1").done(function (result) {
            var linksContainer = $('#links'),
                baseUrl;

            $.each(result.photos.photo, function (index, photo) {
                baseUrl = 'http://farm' + photo.farm + '.static.flickr.com/' +
                    photo.server + '/' + photo.id + '_' + photo.secret;
                $('<a/>')
                    .append($('<img>').prop('src', baseUrl + '_s.jpg'))
                    .prop('href', baseUrl + '_b.jpg')
                    .prop('title', photo.title)
                    .attr('data-gallery', '')
                    .appendTo(linksContainer);
            });
        });
    });
</script>
