<tr><td>1</td><td>JOEL DORNAS</td><td>TMM</td><td>500</td></tr>
<tr><td>2</td><td>TIAGO RODRIGUES</td><td>CRES</td><td>350</td></tr>
<tr><td>3</td><td>WESLEY ROSA</td><td>CRES</td><td>250</td></tr>
<tr><td>3</td><td>PAULO ARAÚJO</td><td>ASTM</td><td>250</td></tr>
<tr><td>5</td><td>FERNANDO PERES</td><td>AMTM</td><td>150</td></tr>
<tr><td>5</td><td>RICARDO OLIVEIRA</td><td>AMTD</td><td>150</td></tr>
<tr><td>5</td><td>RODRIGO BERNARDO</td><td>AMTM</td><td>150</td></tr>
<tr><td>5</td><td>UANDER SILVA</td><td>CRDP</td><td>150</td></tr>
<tr><td>9</td><td>ÉVER ELEUTÉRIO</td><td>AMTD</td><td>100</td></tr>
<tr><td>9</td><td>IGOR MOREIRA</td><td>ASTM</td><td>100</td></tr>
<tr><td>9</td><td>JAIRO FONSECA</td><td>AMTD</td><td>100</td></tr>
