<tr><td>1</td><td>WESLEY ROSA</td><td>CRES</td><td>850</td></tr>
<tr><td>2</td><td>JOEL DORNAS</td><td>TMM</td><td>750</td></tr>
<tr><td>3</td><td>TIAGO RODRIGUES</td><td>CRES</td><td>700</td></tr>
<tr><td>4</td><td>EVÂNIO MARIANO</td><td>APARU</td><td>400</td></tr>
<tr><td>5</td><td>PAULO ARAÚJO</td><td>ASTM</td><td>250</td></tr>
<tr><td>6</td><td>ALCIDIMAR SOBRINHO</td><td>ACTM</td><td>200</td></tr>
<tr><td>6</td><td>GERALDO RIBEIRO</td><td>ACTM</td><td>200</td></tr>
<tr><td>8</td><td>FERNANDO PERES</td><td>AMTM</td><td>150</td></tr>
<tr><td>8</td><td>RICARDO OLIVEIRA</td><td>AMTD</td><td>150</td></tr>
<tr><td>8</td><td>RODRIGO BERNARDO</td><td>AMTM</td><td>150</td></tr>
<tr><td>8</td><td>UANDER SILVA</td><td>CRDP</td><td>150</td></tr>
<tr><td>12</td><td>ÉVER ELEUTÉRIO</td><td>AMTD</td><td>100</td></tr>
<tr><td>12</td><td>IGOR MOREIRA</td><td>ASTM</td><td>100</td></tr>
<tr><td>12</td><td>JAIRO FONSECA</td><td>AMTD</td><td>100</td></tr>
