<tr><td>1</td><td>RODRIGO BERNARDO</td><td>AMTM</td><td>1100</td></tr>
<tr><td>2</td><td>HÉBER MARTINS</td><td>CRES</td><td>1050</td></tr>
<tr><td>3</td><td>MARIA OLIVEIRA</td><td>CRES</td><td>800</td></tr>
<tr><td>4</td><td>GUSTAVO REIS </td><td>ACTM</td><td>550</td></tr>
<tr><td>5</td><td>HENRIQUE KIFFER</td><td>AMTM</td><td>500</td></tr>
<tr><td>6</td><td>GUSTAVO BICALHO</td><td>AMTM</td><td>400</td></tr>
<tr><td>6</td><td>PEDRO SOUZA</td><td>CRES</td><td>400</td></tr>
<tr><td>6</td><td>VITÓRIA KIFFER</td><td>AMTM</td><td>400</td></tr>
<tr><td>9</td><td>GUSTAVO REIS 3</td><td>CRES</td><td>300</td></tr>
<tr><td>9</td><td>GUSTAVO SOUZA</td><td>CRES</td><td>300</td></tr>
<tr><td>11</td><td>JONATHAN VICENTE</td><td>CRES</td><td>200</td></tr>
<tr><td>11</td><td>GABRIELA PEREIRA</td><td>ACTM</td><td>200</td></tr>
<tr><td>13</td><td>JOÃO BARBOSA</td><td>CRES</td><td>150</td></tr>
<tr><td>13</td><td>FELIPE DA SILVA</td><td>CRES</td><td>150</td></tr>
<tr><td>13</td><td>MARCOS REIS</td><td>CRES</td><td>150</td></tr>
