<tr><td>1</td><td>GUSTAVO BICALHO</td><td>AMTM</td><td>3550</td></tr>
<tr><td>2</td><td>RODRIGO BERNARDO</td><td>AMTM</td><td>2750</td></tr>
<tr><td>3</td><td>GUSTAVO REIS</td><td>ACTM</td><td>2450</td></tr>
<tr><td>4</td><td>YASMIN MARTINS</td><td>APARU</td><td>1000</td></tr>
<tr><td>5</td><td>MARIANE MURAOKA</td><td>APARU</td><td>850</td></tr>
<tr><td>6</td><td>BRUNO MARTINS</td><td>APARU</td><td>750</td></tr>
<tr><td>7</td><td>VITÓRIA KIFFER</td><td>AMTM</td><td>700</td></tr>
<tr><td>8</td><td>HENRIQUE KIFFER</td><td>AMTM</td><td>600</td></tr>
