<tr><td>1</td><td>HÉBER MARTINS</td><td>CRES</td><td>750</td></tr>
<tr><td>1</td><td>RODRIGO BERNARDO</td><td>AMTM</td><td>750</td></tr>
<tr><td>3</td><td>MARIA OLIVEIRA</td><td>CRES</td><td>600</td></tr>
<tr><td>4</td><td>PEDRO SOUZA</td><td>CRES</td><td>400</td></tr>
<tr><td>5</td><td>HENRIQUE KIFFER</td><td>AMTM</td><td>350</td></tr>
<tr><td>6</td><td>GUSTAVO REIS</td><td>CRES</td><td>300</td></tr>
<tr><td>6</td><td>GUSTAVO SOUZA</td><td>CRES</td><td>300</td></tr>
<tr><td>8</td><td>VITÓRIA KIFFER</td><td>AMTM</td><td>250</td></tr>
<tr><td>9</td><td>JONATHAN VICENTE</td><td>CRES</td><td>200</td></tr>
<tr><td>10</td><td>GUSTAVO BICALHO</td><td>AMTM</td><td>150</td></tr>
<tr><td>10</td><td>JOÃO BARBOSA</td><td>CRES</td><td>150</td></tr>
<tr><td>10</td><td>FELIPE DA SILVA</td><td>CRES</td><td>150</td></tr>
<tr><td>10</td><td>MARCOS REIS</td><td>CRES</td><td>150</td></tr>
