<tr><td>1</td><td>MICHAEL KLEEFELDT</td><td>ASSOCIAÇÃO SETELAGOANA DE TÊNIS DE MESA</td><td>713</td></tr>
<tr><td>2</td><td>MÁRIO LEÃO</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>655</td></tr>
<tr><td>3</td><td>TÚLIO FAGUNDES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>572</td></tr>
<tr><td>4</td><td>JOEL DORNAS</td><td>ASSOCIAÇÃO TM MINAS</td><td>416</td></tr>
<tr><td>5</td><td>RAMON AGUIAR</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>402</td></tr>
<tr><td>6</td><td>CARLOS RENATO</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>391</td></tr>
<tr><td>7</td><td>THIAGO ROCHA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>362</td></tr>
<tr><td>8</td><td>PAULO ARAÚJO</td><td>ASSOCIAÇÃO SETELAGOANA DE TÊNIS DE MESA</td><td>302</td></tr>
<tr><td>9</td><td>EMERSON CHAVES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>296</td></tr>
<tr><td>10</td><td>JÚLIO SOUZA</td><td>ASSOCIAÇÃO DO BARREIRO DE TÊNIS DE MESA</td><td>289</td></tr>
<tr><td>11</td><td>CHARLES FIRBIDA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>256</td></tr>
<tr><td>12</td><td>AYSSER LAIZO</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>208</td></tr>
<tr><td>13</td><td>GUSTAVO EDWARDS</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>185</td></tr>
<tr><td>14</td><td>EVÂNIO MARIANO</td><td>APARU - UBERLÂNDIA</td><td>156</td></tr>
<tr><td>15</td><td>LUIZ SILVA</td><td>ASSOCIAÇÃO UBERABENSE DE TÊNIS DE MESA</td><td>138</td></tr>
<tr><td>16</td><td>LUIZ AMARAL</td><td>ASSOCIAÇÃO TM MINAS</td><td>137</td></tr>
<tr><td>17</td><td>UANDER SILVA</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>118</td></tr>
<tr><td>18</td><td>GABRIEL MENDES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>109</td></tr>
<tr><td>19</td><td>RICARDO OLIVEIRA</td><td>ASSOCIAÇÃO DE TÊNIS DE MESA DE DIVINÓPOLIS</td><td>103</td></tr>
<tr><td>20</td><td>FERNANDO PERES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>86</td></tr>
<tr><td>21</td><td>WESLEY ROSA</td><td>CRESP VARGINHA</td><td>71</td></tr>
<tr><td>22</td><td>FÁBIO MENDES</td><td>ASSOCIAÇÃO TM MINAS</td><td>70</td></tr>
<tr><td>23</td><td>EDUARDO PIRES</td><td>ASSOCIAÇÃO DO BARREIRO DE TÊNIS DE MESA</td><td>70</td></tr>
<tr><td>24</td><td>VICTOR SERAFIM</td><td>APARU - UBERLÂNDIA</td><td>65</td></tr>
<tr><td>25</td><td>JÚLIO ABREU</td><td>ASSOCIAÇÃO UBERABENSE DE TÊNIS DE MESA</td><td>59</td></tr>
<tr><td>26</td><td>CAIO MELLO</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>56</td></tr>
<tr><td>27</td><td>ANDERSON BARBOSA</td><td>ASSOCIAÇÃO SETELAGOANA DE TÊNIS DE MESA</td><td>55</td></tr>
<tr><td>28</td><td>JOSÉ MIZIARA</td><td>ASSOCIAÇÃO UBERABENSE DE TÊNIS DE MESA</td><td>54</td></tr>
<tr><td>29</td><td>CLEIDSON AGUIAR</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>49</td></tr>
<tr><td>30</td><td>ALCIDIMAR ALVES</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>48</td></tr>
<tr><td>31</td><td>IGOR MOREIRA</td><td>ASSOCIAÇÃO SETELAGOANA DE TÊNIS DE MESA</td><td>44</td></tr>
<tr><td>32</td><td>ALLEN ALMEIDA</td><td>ASSOCIAÇÃO DO BARREIRO DE TÊNIS DE MESA</td><td>42</td></tr>
<tr><td>33</td><td>ANTÔNIO MOREIRA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>42</td></tr>
<tr><td>34</td><td>JAIRO FONSECA</td><td>ASSOCIAÇÃO DE TÊNIS DE MESA DE DIVINÓPOLIS</td><td>40</td></tr>
<tr><td>35</td><td>FERNANDO NOGUEIRA</td><td>APARU - UBERLÂNDIA</td><td>38</td></tr>
<tr><td>36</td><td>GIÁCOMO BOMBONATO</td><td>APARU - UBERLÂNDIA</td><td>38</td></tr>
<tr><td>37</td><td>GUSTAVO BICALHO</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>32</td></tr>
<tr><td>38</td><td>YASMIN MARTINS</td><td>APARU - UBERLÂNDIA</td><td>31</td></tr>
<tr><td>39</td><td>TIAGO RODRIGUES</td><td>CRESP VARGINHA</td><td>30</td></tr>
<tr><td>40</td><td>CÁSSIO SADDI</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>29</td></tr>
<tr><td>41</td><td>ROBSON PAULA</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>28</td></tr>
<tr><td>42</td><td>JÚLIO GROSSI</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>27</td></tr>
<tr><td>43</td><td>FERNANDO CAMPOS</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>27</td></tr>
<tr><td>44</td><td>FERNANDO SUGA</td><td>ASSOCIAÇÃO TM MINAS</td><td>26</td></tr>
<tr><td>45</td><td>BRENO LOPES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>25</td></tr>
<tr><td>46</td><td>DANIEL COSTA</td><td>ASSOCIAÇÃO DO BARREIRO DE TÊNIS DE MESA</td><td>23</td></tr>
<tr><td>47</td><td>ROGÉRIO OLIVEIRA</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>19</td></tr>
<tr><td>48</td><td>ARMANDO PERNAMBUCO</td><td>ASSOCIAÇÃO TM MINAS</td><td>18</td></tr>
<tr><td>49</td><td>DANIEL ROCHA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>17</td></tr>
<tr><td>50</td><td>RENATO YADOYA</td><td>ASSOCIAÇÃO DO BARREIRO DE TÊNIS DE MESA</td><td>15</td></tr>
<tr><td>51</td><td>GUSTAVO SILVA</td><td>APARU - UBERLÂNDIA</td><td>15</td></tr>
<tr><td>52</td><td>CUSTÓDIO ANDRADE</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>13</td></tr>
<tr><td>53</td><td>PEDRO SANTOS</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>13</td></tr>
<tr><td>54</td><td>NICHOLAS CAMPOS</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>13</td></tr>
<tr><td>55</td><td>WASHINGTON COUTO</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>12</td></tr>
<tr><td>56</td><td>GUILHERME OLIVEIRA</td><td>APARU - UBERLÂNDIA</td><td>12</td></tr>
<tr><td>57</td><td>JOSÉ SALVADOR</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>12</td></tr>
<tr><td>58</td><td>GUSTAVO REIS</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>10</td></tr>
<tr><td>59</td><td>WASHINGTON OLIVEIRA</td><td>ASSOCIAÇÃO UBERABENSE DE TÊNIS DE MESA</td><td>10</td></tr>
<tr><td>60</td><td>RODRIGO BERNARDO</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>10</td></tr>
<tr><td>61</td><td>JOSEPH SILVA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>9</td></tr>
<tr><td>62</td><td>MARCOS JOSÉ</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>9</td></tr>
<tr><td>63</td><td>ALEXANDRE FARIA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>9</td></tr>
<tr><td>64</td><td>BRUNO FARIA</td><td>CRESP VARGINHA</td><td>6</td></tr>
<tr><td>65</td><td>WANDER JORGE</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>4</td></tr>
<tr><td>66</td><td>JOSÉ LIGEIRO</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>4</td></tr>
<tr><td>67</td><td>ROGÉRIO LEMOS</td><td>ASSOCIAÇÃO DE TÊNIS DE MESA DE DIVINÓPOLIS</td><td>2</td></tr>
<tr><td>68</td><td>WARLEY BASTOS</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>2</td></tr>
<tr><td>69</td><td>GERALDO RIBEIRO</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>1</td></tr>
