<tr class="success"><td>1</td><td>MÁRIO LEÃO</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>597</td></tr>
<tr class="success"><td>2</td><td>MICHAEL KLEEFELDT</td><td>ASSOCIAÇÃO SETELAGOANA DE TÊNIS DE MESA</td><td>572</td></tr>
<tr class="success"><td>3</td><td>THIAGO ROCHA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>547</td></tr>
<tr class="success"><td>4</td><td>TÚLIO FAGUNDES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>532</td></tr>
<tr class="success"><td>5</td><td>JOEL DORNAS</td><td>ASSOCIAÇÃO TM MINAS</td><td>522</td></tr>
<tr class="success"><td>6</td><td>JÚLIO SOUZA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>426</td></tr>
<tr class="warning"><td>7</td><td>CARLOS RENATO</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>386</td></tr>
<tr class="warning"><td>8</td><td>CHARLES FIRBIDA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>368</td></tr>
<tr class="warning"><td>9</td><td>RAMON AGUIAR</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>359</td></tr>
<tr class="warning"><td>10</td><td>PAULO ARAÚJO</td><td>ASSOCIAÇÃO SETELAGOANA DE TÊNIS DE MESA</td><td>335</td></tr>
<tr class="warning"><td>11</td><td>WESLEY ROSA</td><td>CRES VARGINHA</td><td>293</td></tr>
<tr class="warning"><td>12</td><td>AYSSER LAIZO</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>247</td></tr>
<tr class="warning"><td>13</td><td>GUSTAVO SILVA</td><td>APARU - UBERLÂNDIA</td><td>240</td></tr>
<tr class="danger"><td>14</td><td>EMERSON CHAVES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>197</td></tr>
<tr class="danger"><td>15</td><td>EVÂNIO MARIANO</td><td>APARU - UBERLÂNDIA</td><td>176</td></tr>
<tr class="danger"><td>16</td><td>LUIZ SILVA</td><td>ASSOCIAÇÃO UBERABENSE DE TÊNIS DE MESA</td><td>154</td></tr>
<tr class="danger"><td>17</td><td>EDUARDO PIRES</td><td>ASSOCIAÇÃO DO BARREIRO DE TÊNIS DE MESA</td><td>146</td></tr>
<tr class="danger"><td>18</td><td>GIÁCOMO BOMBONATO</td><td>APARU - UBERLÂNDIA</td><td>139</td></tr>
<tr class="danger"><td>19</td><td>GUSTAVO EDWARDS</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>123</td></tr>
<tr class="danger"><td>20</td><td>LUIZ AMARAL</td><td>ASSOCIAÇÃO TM MINAS</td><td>110</td></tr>
<tr class="danger"><td>21</td><td>GUSTAVO BICALHO</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>102</td></tr>
<tr><td>22</td><td>JOSÉ MIZIARA</td><td>ASSOCIAÇÃO UBERABENSE DE TÊNIS DE MESA</td><td>99</td></tr>
<tr><td>23</td><td>UANDER SILVA</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>95</td></tr>
<tr><td>24</td><td>YASMIN MARTINS</td><td>APARU - UBERLÂNDIA</td><td>88</td></tr>
<tr><td>25</td><td>RICARDO OLIVEIRA</td><td>ASSOCIAÇÃO DE TÊNIS DE MESA DE DIVINÓPOLIS</td><td>88</td></tr>
<tr><td>26</td><td>VALDIR ANDRADE</td><td>APARU - UBERLÂNDIA</td><td>85</td></tr>
<tr><td>27</td><td>WANDER JORGE</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>80</td></tr>
<tr><td>28</td><td>VICTOR SERAFIM</td><td>APARU - UBERLÂNDIA</td><td>79</td></tr>
<tr><td>29</td><td>CAIO MELLO</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>78</td></tr>
<tr><td>30</td><td>TIAGO RODRIGUES</td><td>CRES VARGINHA</td><td>77</td></tr>
<tr><td>31</td><td>GABRIEL MENDES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>73</td></tr>
<tr><td>32</td><td>PEDRO SOUZA</td><td>CRES VARGINHA</td><td>67</td></tr>
<tr><td>33</td><td>ALCIDIMAR SOBRINHO</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>65</td></tr>
<tr><td>34</td><td>RODRIGO BERNARDO</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>64</td></tr>
<tr><td>35</td><td>MARCO FERNANDES</td><td>APARU - UBERLÂNDIA</td><td>64</td></tr>
<tr><td>36</td><td>GUSTAVO REIS</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>62</td></tr>
<tr><td>37</td><td>JÚLIO FONSECA</td><td>ASSOCIAÇÃO DE TÊNIS DE MESA DE DIVINÓPOLIS</td><td>58</td></tr>
<tr><td>38</td><td>GUSTAVO REIS 3</td><td>CRES VARGINHA</td><td>49</td></tr>
<tr><td>39</td><td>THIAGO MARTINS</td><td>APARU - UBERLÂNDIA</td><td>47</td></tr>
<tr><td>40</td><td>FÁBIO MENDES</td><td>ASSOCIAÇÃO TM MINAS</td><td>46</td></tr>
<tr><td>41</td><td>EDSON FRANCISQUINI</td><td>ASSOCIAÇÃO TM MINAS</td><td>43</td></tr>
<tr><td>42</td><td>GUSTAVO SOUZA</td><td>CRES VARGINHA</td><td>43</td></tr>
<tr><td>43</td><td>JÚLIO ABREU</td><td>ASSOCIAÇÃO UBERABENSE DE TÊNIS DE MESA</td><td>40</td></tr>
<tr><td>44</td><td>ANDERSON BARBOSA</td><td>ASSOCIAÇÃO SETELAGOANA DE TÊNIS DE MESA</td><td>37</td></tr>
<tr><td>45</td><td>GUILHERME OLIVEIRA</td><td>APARU - UBERLÂNDIA</td><td>33</td></tr>
<tr><td>46</td><td>CLEIDSON AGUIAR</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>33</td></tr>
<tr><td>47</td><td>ANTÔNIO MOREIRA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>31</td></tr>
<tr><td>48</td><td>WASHINGTON OLIVEIRA</td><td>ASSOCIAÇÃO UBERABENSE DE TÊNIS DE MESA</td><td>31</td></tr>
<tr><td>49</td><td>CÁSSIO SADDI</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>28</td></tr>
<tr><td>50</td><td>ALLEN ALMEIDA</td><td>ASSOCIAÇÃO DO BARREIRO DE TÊNIS DE MESA</td><td>27</td></tr>
<tr><td>51</td><td>FERNANDO NOGUEIRA</td><td>APARU - UBERLÂNDIA</td><td>25</td></tr>
<tr><td>52</td><td>HÉBER MARTINS</td><td>CRES VARGINHA</td><td>24</td></tr>
<tr><td>53</td><td>HUGO BEATO</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>23</td></tr>
<tr><td>54</td><td>FERNANDO PERES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>22</td></tr>
<tr><td>55</td><td>ROBSON PAULA</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>20</td></tr>
<tr><td>56</td><td>JÚLIO GROSSI</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>19</td></tr>
<tr><td>57</td><td>FERNANDO CAMPOS</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>19</td></tr>
<tr><td>58</td><td>FERNANDO SUGA</td><td>ASSOCIAÇÃO TM MINAS</td><td>18</td></tr>
<tr><td>59</td><td>BRENO LOPES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>17</td></tr>
<tr><td>60</td><td>DANIEL COSTA</td><td>ASSOCIAÇÃO DO BARREIRO DE TÊNIS DE MESA</td><td>15</td></tr>
<tr><td>61</td><td>JAIRO FONSECA</td><td>ASSOCIAÇÃO DE TÊNIS DE MESA DE DIVINÓPOLIS</td><td>15</td></tr>
<tr><td>62</td><td>RUBENS PENHA</td><td>APARU - UBERLÂNDIA</td><td>11</td></tr>
<tr><td>63</td><td>ROGÉRIO OLIVEIRA</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>11</td></tr>
<tr><td>64</td><td>GERALDO RIBEIRO</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>10</td></tr>
<tr><td>65</td><td>ARMANDO PERNAMBUCO</td><td>ASSOCIAÇÃO TM MINAS</td><td>10</td></tr>
<tr><td>66</td><td>MARIA OLIVEIRA</td><td>CRES VARGINHA</td><td>10</td></tr>
<tr><td>67</td><td>DANIEL ROCHA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>9</td></tr>
<tr><td>68</td><td>RENATO YADOYA</td><td>ASSOCIAÇÃO DO BARREIRO DE TÊNIS DE MESA</td><td>7</td></tr>
<tr><td>69</td><td>NICHOLAS CAMPOS</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>5</td></tr>
<tr><td>70</td><td>CUSTÓDIO ANDRADE</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>5</td></tr>
<tr><td>71</td><td>PEDRO SANTOS</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>5</td></tr>
<tr><td>72</td><td>JOSÉ SALVADOR</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>4</td></tr>
<tr><td>73</td><td>JONATHAN VICENTE</td><td>CRES VARGINHA</td><td>4</td></tr>
<tr><td>74</td><td>WASHINGTON COUTO</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>4</td></tr>
<tr><td>75</td><td>MARCOS JOSÉ</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>1</td></tr>
<tr><td>76</td><td>JOSEPH SILVA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>1</td></tr>
<tr><td>77</td><td>ALEXANDRE FARIA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>1</td></tr>
