<tr><td>1</td><td>CHARLES FÍRBIDA</td><td>AMTM</td><td>500</td></tr>
<tr><td>2</td><td>MÁRIO LEÃO</td><td>AMTM</td><td>350</td></tr>
<tr><td>3</td><td>AYSSER LAIZO</td><td>CRDP</td><td>250</td></tr>
<tr><td>3</td><td>JOEL DORNAS</td><td>TMM</td><td>250</td></tr>
<tr><td>5</td><td>FERNANDO PERES</td><td>AMTM</td><td>150</td></tr>
<tr><td>5</td><td>UANDER SILVA</td><td>CRDP</td><td>150</td></tr>
<tr><td>5</td><td>WANDER JORGE</td><td>AMTM</td><td>150</td></tr>
<tr><td>5</td><td>WARLEY BASTOS</td><td>CRDP</td><td>150</td></tr>
