<tr><td>1</td><td>MICHAEL KLEEFELDT</td><td>ASTM</td><td>5250</td></tr>
<tr><td>2</td><td>AYSSER LAIZO</td><td>CRDP</td><td>4200</td></tr>
<tr><td>3</td><td>MÁRIO LEÃO</td><td>AMTM</td><td>3750</td></tr>
<tr><td>4</td><td>CHARLES FÍRBIDA</td><td>AMTM</td><td>1900</td></tr>
<tr><td>5</td><td>JOEL DORNAS</td><td>ABTM</td><td>1750</td></tr>
<tr><td>6</td><td>FERNANDO PERES</td><td>AMTM</td><td>1500</td></tr>
<tr><td>7</td><td>WARLEY BASTOS</td><td>ABTM</td><td>1150</td></tr>
<tr><td>7</td><td>RICARDO OLIVEIRA</td><td>ATMD</td><td>1150</td></tr>
<tr><td>9</td><td>UANDER SILVA</td><td>CRDP</td><td>1100</td></tr>
<tr><td>10</td><td>ANTÔNIO MOREIRA</td><td>AMTM</td><td>850</td></tr>
<tr><td>11</td><td>DANIEL COSTA</td><td>ABTM</td><td>500</td></tr>
<tr><td>12</td><td>ANDERSON BARBOSA</td><td>ASTM</td><td>450</td></tr>
<tr><td>13</td><td>WASHINGTON COUTO</td><td>AMTM</td><td>400</td></tr>
<tr><td>14</td><td>DANIEL ROCHA</td><td>AMTM</td><td>300</td></tr>
<tr><td>15</td><td>CÁSSIO SADDI</td><td>AMTM</td><td>250</td></tr>
<tr><td>16</td><td>JAIRO FONSECA</td><td>ATMD</td><td>200</td></tr>
<tr><td>17</td><td>ALEXANDRE FARIA</td><td>TMM</td><td>150</td></tr>
<tr><td>17</td><td>ANDERSON EDUALTI</td><td>AMTM</td><td>150</td></tr>
