<tr><td>1</td><td>JOEL DORNAS</td><td>TMM</td><td>1100</td></tr>
<tr><td>2</td><td>CHARLES FÍRBIDA</td><td>AMTM</td><td>1000</td></tr>
<tr><td>3</td><td>WANDER JORGE</td><td>AMTM</td><td>650</td></tr>
<tr><td>4</td><td>AYSSER LAIZO</td><td>CRDP</td><td>500</td></tr>
<tr><td>4</td><td>CÁSSIO SADDI</td><td>AMTM</td><td>500</td></tr>
<tr><td>6</td><td>UANDER SILVA</td><td>CRDP</td><td>400</td></tr>
<tr><td>7</td><td>MÁRIO LEÃO</td><td>AMTM</td><td>350</td></tr>
<tr><td>8</td><td>GUSTAVO SILVA</td><td>APARU</td><td>300</td></tr>
<tr><td>8</td><td>FERNANDO PERES</td><td>AMTM</td><td>300</td></tr>
<tr><td>10</td><td>LEONARDO MILANEZ</td><td>TMM</td><td>250</td></tr>
<tr><td>11</td><td>WARLEY BASTOS</td><td>CRDP</td><td>150</td></tr>
