<tr><td>1</td><td>MARIO LEÃO</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>519</td></tr>
<tr><td>2</td><td>TÚLIO FAGUNDES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>387</td></tr>
<tr><td>3</td><td>MICHAEL KLEEFELDT</td><td>ASSOCIAÇÃO SETELAGOANA DE TÊNIS DE MESA</td><td>370</td></tr>
<tr><td>4</td><td>JOEL DORNAS</td><td>ASSOCIAÇÃO TM MINAS</td><td>268</td></tr>
<tr><td>5</td><td>THIAGO ROCHA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>242</td></tr>
<tr><td>6</td><td>PAULO ARAÚJO</td><td>ASSOCIAÇÃO SETELAGOANA DE TÊNIS DE MESA</td><td>200</td></tr>
<tr><td>7</td><td>CHARLES FÍRBIDA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>162</td></tr>
<tr><td>8</td><td>LUIZ SILVA</td><td>ASSOCIAÇÃO UBERABENSE DE TÊNIS DE MESA</td><td>153</td></tr>
<tr><td>9</td><td>CARLOS RENATO</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>132</td></tr>
<tr><td>10</td><td>GUSTAVO EDUARDS</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>130</td></tr>
<tr><td>11</td><td>RAMON AGUIAR</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>123</td></tr>
<tr><td>12</td><td>ÊMERSON CHAVES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>123</td></tr>
<tr><td>13</td><td>GUSTAVO BICALHO</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>104</td></tr>
<tr><td>14</td><td>AYSSER LAIZO</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>100</td></tr>
<tr><td>15</td><td>JÚLIO SOUZA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>93</td></tr>
<tr><td>16</td><td>CAIO MELLO</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>84</td></tr>
<tr><td>17</td><td>EVÂNIO MARIANO</td><td>APARU - UBERLÂNDIA</td><td>80</td></tr>
<tr><td>18</td><td>GIÁCOMO BOMBONATO</td><td>APARU - UBERLÂNDIA</td><td>64</td></tr>
<tr><td>19</td><td>VALDIR ANDRADE</td><td>APARU - UBERLÂNDIA</td><td>62</td></tr>
<tr><td>20</td><td>JOSÉ MIZIARA</td><td>ASSOCIAÇÃO UBERABENSE DE TÊNIS DE MESA</td><td>48</td></tr>
<tr><td>21</td><td>RICARDO OLIVEIRA</td><td>ASSOCIAÇÃO DE TÊNIS DE MESA DE DIVINÓPOLIS</td><td>43</td></tr>
<tr><td>22</td><td>EDUARDO PIRES</td><td>ASSOCIAÇÃO DO BARREIRO DE TÊNIS DE MESA</td><td>38</td></tr>
<tr><td>23</td><td>GUSTAVO SILVA</td><td>APARU - UBERLÂNDIA</td><td>36</td></tr>
<tr><td>24</td><td>ANTÔNIO MOREIRA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>35</td></tr>
<tr><td>25</td><td>GUSTAVO REIS</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>28</td></tr>
<tr><td>26</td><td>GUILHERME OLIVEIRA</td><td>APARU - UBERLÂNDIA</td><td>27</td></tr>
<tr><td>27</td><td>JÚLIO FONSECA</td><td>ASSOCIAÇÃO DE TÊNIS DE MESA DE DIVINÓPOLIS</td><td>25</td></tr>
<tr><td>28</td><td>LUIZ AMARAL</td><td>ASSOCIAÇÃO TM MINAS</td><td>24</td></tr>
<tr><td>29</td><td>UANDER SILVA</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>23</td></tr>
<tr><td>30</td><td>FÁBIO MENDES</td><td>ASSOCIAÇÃO TM MINAS</td><td>23</td></tr>
<tr><td>31</td><td>GABRIEL MENDES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>20</td></tr>
<tr><td>32</td><td>MARCO FERNANDES</td><td>APARU - UBERLÂNDIA</td><td>19</td></tr>
<tr><td>33</td><td>VICTOR SERAFIM</td><td>APARU - UBERLÂNDIA</td><td>18</td></tr>
<tr><td>34</td><td>FERNANDO PERES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>17</td></tr>
<tr><td>35</td><td>RENATO MARQUES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>17</td></tr>
<tr><td>36</td><td>YASMIN MARTINS</td><td>APARU - UBERLÂNDIA</td><td>16</td></tr>
<tr><td>37</td><td>RUBENS PENHA</td><td>APARU - UBERLÂNDIA</td><td>15</td></tr>
<tr><td>38</td><td>JOSÉ LIGEIRO</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>15</td></tr>
<tr><td>39</td><td>CLEIDSON AGUIAR</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>15</td></tr>
<tr><td>40</td><td>TIAGO RODRIGUES</td><td>CRESP VARGINHA</td><td>14</td></tr>
<tr><td>41</td><td>CARLOS YOSHIO</td><td>ASSOCIAÇÃO UBERABENSE DE TÊNIS DE MESA</td><td>14</td></tr>
<tr><td>42</td><td>ANDRÉ MARQUES</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>10</td></tr>
<tr><td>43</td><td>ROGÉRIO LEMOS</td><td>ASSOCIAÇÃO DE TÊNIS DE MESA DE DIVINÓPOLIS</td><td>10</td></tr>
<tr><td>44</td><td>RODOLFO SILVA</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>10</td></tr>
<tr><td>45</td><td>FERNANDO SUGA</td><td>ASSOCIAÇÃO TM MINAS</td><td>9</td></tr>
<tr><td>46</td><td>RAUL SCHNEIDER</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>9</td></tr>
<tr><td>47</td><td>RENATO YADOYA</td><td>ASSOCIAÇÃO DO BARREIRO DE TÊNIS DE MESA</td><td>9</td></tr>
<tr><td>48</td><td>FERNANDO CAMPOS</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>8</td></tr>
<tr><td>49</td><td>BRUNO MARTINS</td><td>APARU - UBERLÂNDIA</td><td>8</td></tr>
<tr><td>50</td><td>LEONARDO RAMOS</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>8</td></tr>
<tr><td>51</td><td>ANDERSON BARBOSA</td><td>ASSOCIAÇÃO SETELAGOANA DE TÊNIS DE MESA</td><td>7</td></tr>
<tr><td>52</td><td>ÉDSON FERREIRA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>7</td></tr>
<tr><td>53</td><td>CÁSSIO SOUZA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>7</td></tr>
<tr><td>54</td><td>CÁSSIO SADDI</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>6</td></tr>
<tr><td>55</td><td>IGOR MOREIRA</td><td>ASSOCIAÇÃO SETELAGOANA DE TÊNIS DE MESA</td><td>6</td></tr>
<tr><td>56</td><td>NICHOLAS CAMPOS</td><td>ASSOCIAÇÃO CARATINGUENSE DE TÊNIS DE MESA</td><td>6</td></tr>
<tr><td>57</td><td>BRUNO GARCIA</td><td>ASSOCIAÇÃO MINEIRA DE TÊNIS DE MESA</td><td>5</td></tr>
<tr><td>58</td><td>MARCOS LEIJOTO</td><td>CLUBE RECREATIVO DOM PEDRO II</td><td>4</td></tr>
<tr><td>59</td><td>JÚLIO ABREU</td><td>ASSOCIAÇÃO UBERABENSE DE TÊNIS DE MESA</td><td>3</td></tr>
<tr><td>60</td><td>MARIANE MURAOKA</td><td>APARU - UBERLÂNDIA</td><td>2</td></tr>
<tr><td>61</td><td>FLÁVIO LOPES</td><td>ASSOCIAÇÃO DO BARREIRO DE TÊNIS DE MESA</td><td>2</td></tr>
<tr><td>62</td><td>ARMANDO PERNAMBUCO</td><td>ASSOCIAÇÃO TM MINAS</td><td>1</td></tr>
