<tr><td>1</td><td>TÚLIO FAGUNDES</td><td>AMTM</td><td>5800</td></tr>
<tr><td>2</td><td>CARLOS RENATO</td><td>AMTM</td><td>3450</td></tr>
<tr><td>3</td><td>MÁRCIO AGUIAR</td><td>AMTM</td><td>1750</td></tr>
<tr><td>4</td><td>ÊMERSON CHAVES</td><td>AMTM</td><td>1450</td></tr>
<tr><td>5</td><td>JÚLIO SOUZA</td><td>ABTM</td><td>1100</td></tr>
<tr><td>6</td><td>LEANDRO BELCHIOR</td><td>CRDP</td><td>850</td></tr>
<tr><td>7</td><td>ELCIDIR SOARES</td><td>ATMD</td><td>750</td></tr>
<tr><td>8</td><td>EVÂNIO MARIANO</td><td>APARU</td><td>400</td></tr>
<tr><td>8</td><td>LUIZ AMARAL</td><td>TMM</td><td>400</td></tr>
<tr><td>10</td><td>MARCOS JOSÉ</td><td>AMTM</td><td>350</td></tr>
<tr><td>10</td><td>JÚLIO FONSECA</td><td>ATMD</td><td>350</td></tr>
<tr><td>12</td><td>LUIZ SILVA</td><td>AUTM</td><td>300</td></tr>
<tr><td>13</td><td>FERNANDO SUGA</td><td>TMM</td><td>250</td></tr>
<tr><td>13</td><td>MAURO TELES</td><td>AMTM</td><td>250</td></tr>
<tr><td>15</td><td>AUGUSTO NAGAMINE</td><td>APARU</td><td>200</td></tr>
<tr><td>16</td><td>HÉLIO NAKAMURA</td><td>APARU</td><td>150</td></tr>
