<tr><td>1</td><td>JÚLIO SOUZA</td><td>AMTM</td><td>1000</td></tr>
<tr><td>2</td><td>CARLOS RENATO</td><td>AMTM</td><td>600</td></tr>
<tr><td>2</td><td>EDSON FRANCISQUINI</td><td>TMM</td><td>600</td></tr>
<tr><td>2</td><td>RICARDO OLIVEIRA</td><td>AMTD</td><td>600</td></tr>
<tr><td>5</td><td>JAIRO FONSECA</td><td>AMTD</td><td>500</td></tr>
<tr><td>6</td><td>ÉVER SILVA</td><td>AMTD</td><td>450</td></tr>
<tr><td>7</td><td>LUIZ AMARAL</td><td>TMM</td><td>400</td></tr>
<tr><td>8</td><td>EDUARDO PIRES</td><td>ABTM</td><td>350</td></tr>
<tr><td>9</td><td>EVÂNIO MARIANO</td><td>PRAIA</td><td>300</td></tr>
<tr><td>10</td><td>FÁBIO NASCIMENTO</td><td>ABTM</td><td>250</td></tr>
<tr><td>11</td><td>ALCIDIMAR ALVES</td><td>ACTM</td><td>200</td></tr>
<tr><td>11</td><td>ENES BARBOSA</td><td>ACTM</td><td>200</td></tr>
<tr><td>13</td><td>GERALDO RIBEIRO</td><td>ACTM</td><td>150</td></tr>
<tr><td>13</td><td>JÚLIO FONSECA</td><td>AMTD</td><td>150</td></tr>
<tr><td>13</td><td>SÉRGIO YANO</td><td>CRES</td><td>150</td></tr>
