<!DOCTYPE html>
<html>
    {% include default/head.html %}
    <body>

        {% include default/navbar.html %}

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>{{site.last_event}}</h1>
              {% include home/slider.html %}
            </div>

            <div class="col-md-6">
              Colocar alguns widgets
            </div>
          </div>

          <hr>
            {{content}}
        </div>

        {% include default/bootstrap-scripts.html %}
        {% include setup/carousel.html %}
    </body>
</html>




