<!DOCTYPE html>
<html>
    {% include default/head.html %}
    <body>

    <div id="wrap">
      {% include default/navbar.html %}

        <div class="container">
          <div class="col-md-8">
            {{content}}
          </div>

          <div class="col-md-4">
            {% include home/coming-next.html %}
            <!-- <hr>
            {% include home/banners.html %} -->
            <hr>
            {% include home/slider.html %}
          </div>
        </div>
    </div>

      {% include default/footer.html %}

        {% include default/scripts.html %}
        {% include setup/carousel.html %}
    </body>
</html>




