<!DOCTYPE html>
<html>
    {% include default/head.html %}
    <body>

        {% include default/navbar.html %}

        <div class="container">
          <div class="col-md-8">
            {{content}}
          </div>

          <div class="col-md-4">
            {% include home/coming-next.html %}
            <hr>
            <center><h2>Imagens da {{site.last_event}}</h2></center>
              {% include home/slider.html %}
          </div>
        </div>

        {% include default/scripts.html %}
        {% include setup/carousel.html %}
    </body>
</html>




